{
  "env": {
    "production": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "transform-node-env-inline",
        "transform-member-expression-literals",
        "transform-undefined-to-void",
        "transform-remove-console",
        "transform-remove-debugger",
        "transform-flow-strip-types",
        "transform-proto-to-assign"
      ]
    },
    "development": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "transform-node-env-inline",
        "transform-member-expression-literals",
        "transform-flow-strip-types",
        "transform-proto-to-assign"
      ]
    }
  }
}
